.todo-card{
    display: flex;
    justify-content: left;
    align-items: center;
    margin:10px 10px;
}
.delete{
    height:30px;
    cursor:pointer;
}
.delete:hover{
    transform:rotate(-15deg);
}